* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: rgb(16, 23, 54);
  background: linear-gradient(
    180deg,
    rgb(4, 4, 4) 0%,
    rgba(16, 23, 54, 1) 50%,
    rgb(33, 1, 17) 100%
  );
  color: white;
  font-family: "kind_sansthin", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

.scene i {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

header ul {
  width: 90%;
  height: 70px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

header li {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header a {
  height: 100%;
  /* padding: 0 20px; */
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header nav li:first-child {
  margin-right: auto;
}

.logo {
  font-family: "loyal_sansregularv1", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

header li:not(:first-child):hover,
header li:not(:first-child):active,
header li:not(:first-child):focus {
  border: 1px solid white;
  transition: 0.3s ease-in-out;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(16, 23, 54, 0.1);
  box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: flex-start;
}

.sidebar li {
  width: 100%;
  padding: 1rem;
}

.sidebar a {
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-button {
  display: none;
}

/* Dropdown Container */
.dropdown {
  position: relative;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropbtn::after {
  font-size: 12px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  min-width: 150px;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Dropdown Items */
.dropdown-content li {
  color: white;
  /* padding: 12px 16px; */
  cursor: pointer;
}

.dropdown_item:hover, .dropdown_item:focus {
  border: 1px solid white;
  transition: 0.3s ease-in-out;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
  display: block;
}

/* Responsive Adjustments for Sidebar */
.sidebar .dropdown {
  width: 100%;
}

.sidebar .dropbtn {
  width: 100%;
  text-align: left;
  padding: 12px 0;
  position: relative;
}

.sidebar .dropdown-content {
  position: static; /* Remove absolute positioning for sidebar */
  box-shadow: none;
  position: absolute;
  top: 100%;
  left: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 80%;
  margin: 4rem auto;
}

/* #about_me {
  margin-top: 4rem;
} */

#job_title {
  font-family: "loyal_sansregularv1", sans-serif;
  text-align: center;
  font-size: 4.8rem;
  margin: 1rem 0;
}

#description {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
  text-align: justify;
}

#social_media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 15%;
  margin: 1rem 0;
}

canvas {
  display: block;
}

#skills {
  text-align: center; /* Ensure title is centered */
  padding-top: 2rem; /* Add some space at the top */
  margin-bottom: 1rem;
  margin-top: 8rem;
}

.skill-img {
  width: 50px;
  height: 50px;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

#skills_title,
#projects_title {
  font-size: 4.5rem;
  font-family: "loyal_sansregularv1", sans-serif;
  margin-bottom: 6rem; /* Space between title and skill blocks */
}

#skill_blocks_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: auto; /* Allow the container to grow based on content */
  /* min-height: 80vh; Optional: Add a minimum height if needed */
  width: 100%; /* Ensure it stretches full width */
}

.skill_block {
  background: linear-gradient(
    180deg,
    rgba(16, 23, 54, 1) 0%,
    rgb(33, 1, 17) 100%
  );
  opacity: 1;
  width: 25%;
  height: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  border-radius: 30px;
  border: 1px solid #fff;
  position: relative;
}

.skill_block:hover,
.skill_block:active,
.skill_block:focus {
  border: none;
  box-shadow: 3px 3px 18px rgb(255, 255, 255), -3px -3px 18px rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}

.skill_block ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: "loyal_sansregularv1", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 2.5rem;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 12rem;
}

#studio, #ski {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 0;
}

.img_container {
  width: 45%;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.img_container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.project_info {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: -25px;
}

.project_info h2 {
  font-size: 3.5rem;
  font-family: "loyal_sansregularv1", sans-serif;
  margin: 1rem 0;
}

#studio .project_info ul {
  width: 25%;
  margin-top: 25px;
  margin-bottom: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#ski .project_info ul {
  width: 55%;
  margin-top: 25px;
  margin-bottom: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project_info ul li {
  font-size: 1.2rem;
  font-family: "loyal_sansregularv1", sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 30px;
  padding: 3px 20px;
}

.project_info p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
  text-align: justify;
}

.project_info a {
  display: flex;
  margin: 1rem 0;
  padding: 0.5rem 1.2rem;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.project_info a:hover, .project_info ul li:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
}

#get_in_touch {
  font-size: 3.2rem;
  margin-top: 4rem;
  font-family: "loyal_sansregularv1", sans-serif;
}

#contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
  margin: auto;
  margin-bottom: 70px;
}

#contact_form #name {
  width: 90%;
  display: flex;
  gap: 1rem;
}

#contact_form #mail {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

#contact_form input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

#contact_form input::placeholder, textarea::placeholder {
  color: white;
}

#contact_form textarea {
  width: 90%;
  height: 40%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

#contact_form button {
  display: flex;
  margin: 1rem 0;
  padding: 0.5rem 1.2rem;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
}

#contact_form button:hover,
#contact_form button:active,
#contact_form button:focus {
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
}

#contact_form button:hover svg path {
  fill: black;
}

footer ul {
  width: 90%;
  height: 90px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  border-top: 1.5px solid white;
}

/**
  * Media Queries for Responsive CSS
  */

@media screen and (max-width: 1500px) {
  #studio, #ski {
    flex-direction: column;
  }

  .img_container {
    width: 100%;
    height: 500px;
    margin-bottom: 25px;
  }

  .project_info {
    width: 100%;
    margin-top: 2rem;
  }

  /* Reorder the elements */
  #ski .img_container {
    order: 1; /* Move the image container above the text for #ski */
  }

  #ski .project_info {
    order: 2; /* Keep the project info below the image */
  }
}

@media screen and (max-width: 1300px) {
  header {
    width: 90%;
    margin: auto;
  }

  header li,
  header a {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1200px) {
  #about_me {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    margin-bottom: 25rem;
  }

  #skills {
    display: flex;
    flex-direction: column;
    margin-top: 25rem;
  }

  #skill_blocks_container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .skill_block {
    width: 40%;
    height: auto;
    padding: 1rem 0;
    margin-bottom: 8%;
  }

  .skill_block ul {
    margin-bottom: 2.5rem;
  }

  #projects {
    margin-top: 28rem;
  }

  .img_container {
    height: 400px;
  }

  #studio .img_container {
    margin-top: -100px;
  }

  .project_info {
    height: 400px;
  }

  .project_info h2 {
    font-size: 2.5rem;
  }

  .project_info ul {
    width: 40%;
  }

  .project_info p {
    font-size: 1rem;
  }

  .project_info a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  #about_me {
    display: flex;
    flex-direction: column;
    margin-bottom: 28rem;
  }

  #job_title {
    font-size: 3.5rem;
  }

  #skills {
    display: flex;
    flex-direction: column;
    margin-top: 28rem;
  }

  .skill_block {
    width: 47%;
    padding: 1rem 0;
  }

  footer ul {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    line-height: 1.8rem;
    height: 150px;
  }

  footer ul p {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  #job_title, #get_in_touch, #projects_title, #skills_title {
    font-size: 3rem;
  }

  #description {
    font-size: 1rem;
  }

  #social_media {
    width: 25%;
  }

  #contact_form {
    width: 90%;
  }

  #contact_form #name {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  #about_me {
    display: flex;
    flex-direction: column;
    margin-bottom: 40rem;
  }

  #skills {
    display: flex;
    flex-direction: column;
    margin-top: 40rem;
  }

  .skill_block {
    width: 65%;
  }

  #projects {
    margin-top: 45rem;
  }

  .img_container {
    margin-top: -2rem;
  }

  #studio .img_container {
    margin-top: -100px;
  }

  .project_info {
    margin-bottom: 55px;
  }

  .project_info h2 {
    font-size: 3rem;
  }

  .project_info ul li {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  #job_title, #get_in_touch, #projects_title, #skills_title {
    font-size: 2.5rem;
  }

  #about_me {
    display: flex;
    flex-direction: column;
    margin-bottom: 40rem;
  }

  #skills {
    display: flex;
    flex-direction: column;
    margin-top: 40rem;
  }

  .skill_block {
    width: 75%;
  }

  #projects {
    margin-top: 45rem;
  }

  .img_container {
    height: 300px;
  }

  #studio .img_container {
    margin-top: -100px;
  }

  .project_info {
    height: 300px;
  }

  .project_info h2 {
    font-size: 2rem;
  }

  #studio .project_info ul {
    width: 30%;
  }

  #ski .project_info ul {
    width: 65%;
  }

  .project_info p {
    font-size: 0.8rem;
  }

  .project_info a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  #description {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  #social_media {
    width: 30%;
  }

  #about_me {
    display: flex;
    flex-direction: column;
    margin-bottom: 48rem;
  }

  #skills {
    display: flex;
    flex-direction: column;
    margin-top: 48rem;
  }

  .skill_block {
    width: 95%;
    margin-bottom: 35px;
  }

  .skill_block ul {
    margin-bottom: 6rem;
  }

  #projects {
    margin-top: 45rem;
  }

  .project_info {
    height: 300px;
  }

  .project_info h2 {
    font-size: 2rem;
  }

  #studio .project_info ul {
    width: 40%;
  }

  #ski .project_info ul {
    width: 80%;
  }

  #contact_form {
    width: 90%;
  }

  #contact_form #name {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  #job_title, #get_in_touch, #projects_title, #skills_title {
    font-size: 1.8rem;
  }

  .sidebar {
    width: 100%;
  }

  .skill_block {
    margin-bottom: 35px;
  }

  .skill_block ul {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  #projects {
    margin-top: 46rem;
  }

  #projects_title {
    margin-bottom: 4rem;
  }

  #studio .project_info ul {
    width: 50%;
  }

  #ski {
    margin-top: 12rem;
  }

  #ski .project_info ul {
    width: 100%;
  }

  .img_container {
    height: 250px;
  }

  .project_info {
    height: 250px;
    margin-bottom: 200px;
  }

  .project_info h2 {
    font-size: 1.5rem;
  }

  .project_info ul li {
    font-size: 12px;
  }

  .project_info p {
    font-size: 0.8rem;
  }

  .project_info a {
    font-size: 0.8rem;
  }
  
}
