* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: rgb(16, 23, 54);
    background: linear-gradient(45deg, rgba(16, 23, 54, 1) 0%, rgb(4, 4, 4) 100%);
    color: white;
    font-family: 'kind_sansthin', sans-serif;
    font-size: 1rem;
}

header ul {
    width: 90%;
    height: 70px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

header li {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header a {
    height: 100%;
    /* padding: 0 20px; */
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header nav li:first-child {
    margin-right: auto;
}

header nav #logo {
    font-family: 'loyal_sansregularv1', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

header li:not(:first-child):hover,
header li:not(:first-child):active,
header li:not(:first-child):focus {
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(16, 23, 54, 0.1);
    box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: flex-start;
}

.sidebar li {
    width: 100%;
    padding: 1rem;
}

.sidebar a {
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-button {
    display: none;
}

@media screen and (max-width: 1300px) {
    header {
        width: 90%;
        margin: auto;
    }

    header li, header a {
        padding: 0 10px;
    }
}

@media screen and (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

#about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 80%;
    margin: 0 auto;
}

#job_title {
    font-family: 'loyal_sansregularv1', sans-serif;
    font-size: 4.8rem;
    margin: 1rem 0;
}

#description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: center;
}

#social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 15%;
    margin: 1rem 0;
}